.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	padding: 10px 0;
	a {
		display: block;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}

nav {
	text-transform: uppercase;
	font-size: 1.0em;
	width: 100%;

	@media #{$mid-point} {
		text-align: right;
		position: absolute;
		top: 13px;
		right: 0;
		padding: 0 20px;
	}


	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.8);
		transition: .2s ease-in-out;
		display: none;

		@media #{$mid-point} {
			display: inline;
			padding: 10px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: -22px;
			font-size: 1.9em;
			border: 0;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {

		border-bottom: 1px solid rgba(255,255,255,.3);
		color: #fff;
	}

	@media #{$mid-point} {
		a.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
				color: $brand-color;
			}
		}
	}

	a.active {
		color: #fff;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	
		@media #{$mid-point} {
			display: inline;
		}
	
		&:hover .dropdown-content {  // Add this hover rule
			display: block;
		}

		.dropbtn {
            &::after {
                content: "⌵";
                font-size: 1.2em;
                margin-left: 1px;
                display: inline-block;
                position: relative;
                top: 0 em;  // Adjust this value to move it up
            }
        }
	
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #fff;
			min-width: 260px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 100;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			text-transform: none;
			
			@media #{$mid-point} {
				text-align: left;
				left: 0;
				transform: none;
			}
	
			a {
				color: $brand-color;
				padding: 12px 16px;
				display: block;
				font-size: 1.0em;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				text-transform: none;
	
				&:hover {
					background-color: darken(#fff, 5%);
					color: darken($brand-color, 10%);
				}
	
				@media #{$mid-point} {
					display: block;
				}
			}
		}
	}
}
